@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base layer */
@layer base {
  :root {
    --primary: #0A392B;
    --background: #F9FBFC;
  }

  body {
    background: var(--background);
    color: var(--primary);
  }

  /* Add this inside the component or global CSS */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;     /* Firefox */
}

}